@layer reset, base, tokens, recipes, utilities;

:root {
  background-color: var(--black);
  /* Star Wars*/
  --brown: #7e7863;
  --orange: #ad7d37;
  --blue: #2e557c;
  --maroon: #381010;
  --green: #334e30;

  /* Rebellion */
  --black: #080808;
  --grey: #3b444b;
  --white: #f0ece1;
  --orange: #dd4e1e;
  --light-orange: #e5703d;
}
